.alumni{
    min-height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: /aqua; */
}
.carousel{
    height: 95%;
    width: 90%;
    margin-bottom: 2rem;
}
.slide{
    background-color: #03396c;
    max-height: 75vh;
    height: 70vh;
    border-radius: 20px;
}
.slide > img{
    height: 150px;
    width: 150px;
    position: relative;
    transform: translateY(50%);
    border-radius: 50%;
}
.slide h5{
    opacity: 0.8;
}
@media(max-width: '760px') {
    .slide > img{
        transform: translateY(10%);
        height: 75px;
        width: 75px;
    }
}